{% load static %}
<!-- Categories Section Begin -->
    <section class="categories">
        <div class="container">
            <div class="row">
                <div class="categories__slider owl-carousel">
                    {% for rs in sliderdata %}
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="{{ rs.image.url }}"  >
                            <h5><a href="/product/{{ rs.id }}/{{ rs.slug }}">{{ rs.title }}</a></h5>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->