{% extends "homebase.html" %}

{% block title %} {{ product.title }} {% endblock %}
{% block keywords %} {{ product.keywords }} {% endblock %}
{% block description %} {{ product.description }} {% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}'/>
{% endblock %}

{% block sidebar %}

{% endblock %}

{% block content %}
    {% load static %}
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{% static 'img/breadcrumb.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>{{ product.title }}</h2>
                        <div class="breadcrumb__option">
                            <a href="/">Anasayfa </a>
                            <a href="/category/{{ product.category_id }}/{{ product.category.slug }}"> {{ product.category }}</a>
                            <span>{{ product.title }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->


    <!-- Shoping Cart Section Begin -->
    <section class="shoping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th class="shoping__product">Ürünler</th>
                                    <th>Fiyat</th>
                                    <th>Adet</th>
                                    <th>Tutar</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for rs in schopcart %}
                                <tr>
                                    <td class="shoping__cart__item">
                                        <img src="{{ rs.product.image.url }}" height="100" width="100" alt="">
                                        <h5><a href="/product/{{ rs.product.id }}/{{ rs.product.slug }}"> {{ rs.product }}</a></h5>
                                    </td>
                                    <td class="shoping__cart__price">
                                        {{ rs.product.price }}
                                    </td>
                                    <td class="shoping__cart__quantity">
                                        <div class="quantity">
                                            <div class="pro-qty">
                                                <input type="text" value="{{ rs.quantity }}">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        {{ rs.amount }}₺
                                    </td>
                                    <td class="shoping__cart__item__close">
                                        <a href="/order/deletefromcart/{{ rs.id }}" onclick="return confirm('Are you sure?')"><span class="icon_close"></span></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shoping Cart Section End -->
{% endblock %}